
{{#with view }}

	{{#if isContentLoaded }}

		{{#view Yvi.VenuesScrollView
			contentBinding="content"
			showLikesBinding="showLikes"
			isRefreshedBinding="isRefreshed"
			lengthBinding="content.length" }}

				<div class="scroller-container">

					<div class="space by-one"></div>

						{{#each content}}

							{{view Yvi.VenueBoxView 
								productsBinding="products"
								venue=this
								showLikesBinding="view.showLikes" }}

								<div class="space by-one"></div>

						{{/each}}

				</div>

				{{#if view.showBottomView }}

					<!--<div class="scroller-bottom-spinner"></div>-->
					{{view Yn.MiniSpinnerView }}

				{{/if }}

		{{/view}}

	{{else }}
		{{view Yn.SpinnerView}}
	{{/if }}

{{/with }}

