
{{#with view }}

  {{#if content }}

    {{#view Yvi.VenuesScrollView
      contentBinding="content"
      showLikesBinding="showLikes"
      isRefreshedBinding="isRefreshed"
      lengthBinding="content.length" }}

        <div class="scroller-container">

            {{#each content}}

              {{view Yvi.VenueBoxView 
                productsBinding="products"
                venue=this
                showLikesBinding="view.showLikes" }}

            {{/each}}

        </div>

        {{#if view.showBottomView }}

          <div class="scroller-bottom-spinner">

          </div>

        {{/if }}

    {{/view}}

  {{else }}
    {{view Yn.SpinnerView}}
  {{/if }}

{{/with }}

