
{{#with view }}

	{{#if isContentLoaded }}

		{{#view Yvi.VenuesRefreshScrollerView

			isCategoryOptionBinding="isCategoryOption"
			showLikesBinding="showLikes"

			isRefreshedBinding="isRefreshed"
			lengthBinding="content.length" }}

                                <div class="scroller-container fix-scrolling-touch">

					<div class="space by-one"></div>

						{{#each content}}

							{{view Yvi.VenueBoxView 
								productsBinding="products"
								venue=this
								showLikesBinding="view.showLikes" }}

								<div class="space by-one"></div>

						{{/each}}

				</div>

				{{#if view.showBottomView }}

					<!--<div class="scroller-bottom-spinner"></div>-->
					{{view Yn.MiniSpinnerView }}

				{{/if }}

		{{/view}}

	{{else }}
		{{view Yn.SpinnerView}}
	{{/if }}

{{/with }}

