{{#with view}}

  <div class="left-column">
    {{view Yn.SquareImageView class="is-small"
      withWebfont=true iconBinding="showIcon" }}
  </div>

  <div class="right-column main-text">
    {{showName}}
  </div>

{{/with}}
