{{#with view}}

  <div class="category-left">
    {{view Yn.SquareImageView class="is-small"
      withWebfont=true iconBinding="showIcon" }}
  </div>

  <div class="category-right">
    {{showName}}
  </div>

{{/with}}
