{{#with view}}

  <div class="left-column">
    <span class="icon is-icon-big is-icon-grey" {{bindAttr icon="icon"}} ></span>
  </div>

  <div class="main-text middle-column">
    {{text}}
  </div>

  <div class="control right-column">
    <span class="icon is-icon-normal is-icon-grey with-text arrow"></span>
  </div>

{{/with}}
