{{#with view}}

  <div class="left-column">
    <span class="icon button-text is-font-white" {{bindAttr icon="icon"}} ></span>
  </div>

  <div class="main-text-menu middle-column">
    {{text}}
    {{#if counter }}
      ({{counter}})
    {{/if }}
  </div>

  <div class="control right-column">
    <span class="icon is-icon-normal button-text is-font-white with-text arrow"></span>
  </div>

{{/with}}
