{{#with view}}

  <div class="box-content-element two-column-table" >
      <div class="main main-text left-column">
        {{content}}
      </div>
      <div class="control right-column">
        <span class="icon is-icon-normal is-icon-grey with-text arrow"></span>
      </div>
  </div>

{{/with}}
