
{{#with view}}

	<div class="user-interaction-received-block-content">
		
		<div class="user-interaction-received-block-content-image inline">
		
			{{view Yn.SquareImageView class="is-small" contentBinding="content.toUser" }}

		</div>

		<div class="user-interaction-received-block-content-name inline">

			{{content.toUser.name}} recibió

			<div class="user-interaction-received-block-content-product">

				<div class="icon is-icon-x-small inline" icon="v">

				</div>

				<div class="product-name inline">

					{{content.product.name}}

				</div>

			</div>

		</div>
		
		<div class="space is-small"></div>
		
		<div>
		
			{{view Yvi.UserShortBlockView contentBinding="content.fromUser" imagetype="is-small" }}
		
		</div>

	</div>

{{/with}}
