
{{#with view}}

	<div id="user-interaction-sent-block-content">
		
		<div id="user-interaction-sent-block-content-image">
		
			{{view Yn.SquareImageView class="is-small" contentBinding="content.fromUser" }}

		</div>

		<div id="user-interaction-sent-block-content-name">

			<span class="text is-big is-black">{{content.fromUser.name}}</span> ha incitado a

			<div id="user-interaction-sent-block-content-product">

				<span class="icon is-icon-x-small" icon="v"></span>
				{{content.product.name}}

			</div>

		</div>
		
		<div id="user-interaction-sent-block-icon">Icon!</div>
		
	</div>
		
	<div class="space is-small"></div>
		
	<div id="user-block-invited">
		
		{{view Yvi.UserShortBlockView contentBinding="content.toUser" imagetype="is-x-small" }}
		
	</div>

{{/with}}
