
{{#with view}}

	<div id="user-short-block-content">
		
		<div id="user-short-block-content-image">

			{{view Yn.SquareImageView class=imagetype contentBinding="content" withPhoto=true }}


		</div>

		<div id="user-short-block-content-name">

			<span id="user-short-block-content-username">{{content.name}}</span>

			{{#if content.city}}

				<div id="user-short-block-content-city">

					<span class="icon with-text is-icon-x-small" icon="i">

					</span>

					{{content.city.name}}


				</div>

			{{/if}}

		</div>

	</div>

{{/with}}
