
{{#with view}}

	<div class="user-short-block-content">
		
		<div class="user-short-block-content-image inline">

			{{view Yn.SquareImageView class=imagetype contentBinding="content" }}


		</div>

		<div class="user-short-block-content-name inline">

			{{content.name}}

			{{#if user.city}}

				<div class="user-short-block-content-city">

					<div class="icon is-icon-x-small inline" icon="i">

					</div>

					<div class="city-name inline">

						{{content.city.name}}

					</div>

				</div>

			{{/if}}

		</div>

	</div>

{{/with}}
