
{{#with view}}

	<div class="user-interaction-sent-block-content">
		
		<div class="user-interaction-sent-block-content-image inline">
		
			{{view Yn.SquareImageView class="is-small is-up-effect" contentBinding="content.fromUser" }}

		</div>

		<div class="user-interaction-sent-block-content-name inline">

			{{content.fromUser.name}} invitó a

			<div class="user-interaction-sent-block-content-product">

				<div class="icon is-x-small inline" icon="v">

				</div>

				<div class="product-name inline">

					{{content.product.name}}

				</div>

			</div>

		</div>
		
		<div class="space is-small"></div>
		
		<div>
		
			{{view Yvi.UserShortBlockView contentBinding="content.toUser" imagetype="is-x-small" }}
		
		</div>

	</div>

{{/with}}
