
{{#with view}}

	<div id="user-interaction-received-block-content">
		
		<div id="user-interaction-received-block-content-image">
		
			{{view Yn.SquareImageView class="is-small" contentBinding="content.toUser" }}

		</div>

		<div id="user-interaction-received-block-content-name">

			<span class="text is-big is-black">{{content.toUser.name}}</span> recibió

			<div id="user-interaction-received-block-content-product">

				<span class="icon is-icon-x-small" icon="v"></span>
				{{content.product.name}}

			</div>

		</div>
		
		<div id="user-interaction-received-block-icon">Icon!</div>
		
	</div>
	
	<div class="space is-small"></div>
		
	<div id="user-block-inviting">
		
		{{view Yvi.UserShortBlockView contentBinding="content.fromUser" imagetype="is-x-small" }}
		
	</div>

{{/with}}
