
{{#with view}}

	<div class="short-block-content has-padding">
		
		<div class="short-block-content-image">

			{{view Yn.SquareImageView class=imagetype contentBinding="content.brand" withIcon=true }}

		</div>

		<div class="short-block-content-name">

			<span class="short-block-name-high">{{content.name}}</span>

			{{#if content.city}}

				<div class="short-block-name-low">

					<span class="icon with-text is-icon-x-small" icon="i">

					</span>

					{{content.city.name}}

				</div>

			{{/if}}

		</div>

	</div>

{{/with}}
