@import 'textstyles';
@import 'colors';
@import 'lists';


#categories-screen {

  > .screen-container {
  
    background-color: @grey01;
    background-image: none;

    > .categories-list {

      > .category-item {
        width: 100%;
        height: 44px;
        display: table;
        .list-element-fill-border;
        
        padding-left: 7px;
        padding-right: 7px;

        > .category-left {
          
					display: table-cell;
          width: 15%;
          vertical-align: middle;

          > .square-image {

              .square-image-bg {

                top:2px;
                left: 2px;


              }

          }
          
        }

        > .category-right {
        
          display: table-cell;
          width: 85%;
          vertical-align: middle;
          .text-is-big-style;
          .text-is-font-black-style;
          
        }

      }
      
      > .category-item:active, .category-item.touch, .category-item.is-pending {
      
        background-color: @grey04;
      
      }

      > .category-item {
        > .category-left > .square-image {
          background: white;
        }
      }

      > .category-item:first-child {
        > .category-left > .square-image {
          background: @pink01;
        }
      }

      > .category-item:nth-of-type(2) {
        > .category-left > .square-image {
          background: @blue00;
        }
      }

      > .category-item:nth-of-type(3) {
        > .category-left > .square-image {
          background: @green01;
        }
      }

      > .category-item:nth-of-type(4) {
        > .category-left > .square-image {
          background: @purple02;
        }
      }

      > .category-item:nth-of-type(5) {
        > .category-left > .square-image {
          background: @coffeebrown;
        }
      }

      > .category-item:nth-of-type(6) {
        > .category-left > .square-image {
          background: @skyblue;
        }
      }

      > .category-item:last-child {
        > .category-left > .square-image {
          background: @grey05;
        }
      }


    }

  }

}


@media screen and (device-height: 568px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  #categories-screen {
    > .screen-container {
      > .categories-list {
        > .category-item {
          height: 60px;
        }
      }
    }
  }
}
