
#categories_screen {

  > .screen-container {

    > #categories-list {

      > .category-item {
        width: 100%;
        height: 60px;

        > .category-left {
          float: left;
          width: 30%;

          > .square-image {

          }
        }

        > .category-right {
          float: right;
          width: 70%;
        }

      }

      > .category-item {
        > .category-left > .square-image {
          background: white;
        }
      }

      > .category-item.is-grey {
        > .category-left > .square-image {
          background: grey;
        }
      }

      > .category-item.is-red {
        > .category-left > .square-image {
          background: red;
        }
      }

      > .category-item.is-blue {
        > .category-left > .square-image {
          background: blue;
        }
      }

      > .category-item.is-green {
        > .category-left > .square-image {
          background: green;
        }
      }

      > .category-item.is-purple {
        > .category-left > .square-image {
          background: purple;
        }
      }

      > .category-item.is-brown {
        > .category-left > .square-image {
          background: brown;
        }
      }

      > .category-item.is-sky-blue {
        > .category-left > .square-image {
          background: #889922;
        }
      }

    }

  }

}
