@import 'sizes';
@import 'textstyles';
@import 'paddings';
@import 'borders';
@import 'gradients';


#invite_screen {

  > .screen-container {

    > .box {

      > .box-content {

  			> .box-content-element {

  				> .control {
  					float: right;
  				}

					> .picture {
						width: 20%;
					}

          > .name { 

						> .high {
							.text-is-big-style;
							.text-is-font-black-style;
						}

						> .low {
							.text-is-small-style;
							.text-is-font-grey-style;
						}
          }


					> .action-button {
						width: 15%;
					}

        }

      }

    }

    > .box-content.hasnot-item:active, > .box-content.hasnot-item.is-pending, > .box-content.hasnot-item.touch {

        .box-press;
        .border-bottom-box-radius-style;

    }

  	> #block-invite-product.box {


  		> .box-content {

  			> .box-content-element {

					> .name {

						width: 60%;

						> .price-label {

              float: left;
              margin-top: 4px;
              margin-left: 10px;

						}

					}

  			}

  		}

  	}

  	> #block-invite-user.box {

  		> .box-content {

				> .box-content-element {

					> .name {

						width: 65%;

					}

  			}

  		}

  	}

  	> #block-invite-venues.box {

  		> .box-content {

				> .box-content-element {

					> .name {
						width: 65%;
					}

  			}

  		}

  	}

  	> .main-button {

			margin: (@size-one-space * 2) auto;

		}

  }

}
