@import 'landing';

#login-screen {

	> .row.one {

    height: 20%;

	}

	> .row.two {

    height: 40%;

    > .landing-text {

      padding-top: 87px;

    }

  }
	
	> .row.three {
    height: 40%;
	
	}

}
