@import 'landing';
@import: 'sizes';


#login_screen {

	background-size: 100%;

	.landing-style;
	
	> #login-buttons {
	
		> .facebook, .twitter, .enter-button {
			
			margin: @size-one-space auto;
		
		}
		
		> .register-button, .about-us {
		
			margin: @size-one-space*2 auto;
		
		}
	
	}

}
