@import 'sizes';
@import 'colors';

@import 'animations';
@import 'appanimations';

@import 'textstyles';
@import 'paddings';
@import 'borders';
@import 'gradients';



#map_screen {

  //border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

  > .map-section {
    z-index: 5;

    > .header {
      border-top-right-radius: 0px;
      z-index: 3;
    }	
    > .header-action {
      z-index: 2;
    }
    > .screen-container {
      z-index: 1000;
    }
  }

  > .cities-section {

    z-index: 1;
    background-color: @grey01;


    > .cities {


      > .city:active, > .city.touch {

          .box-press;
          .border-bottom-box-radius-style;

      }


      > .city {

        .box-padding-style;
        .list-element-fill-border;

      }

      > .city.is-selected {

      }

      > .city.is-selected::after {

        font-family: 'Yoin Icons';
        content: 'F';
        -webkit-font-smoothing: antialiased;
        text-decoration: none;
        float: right;
        margin-top: 2px;

      }

    }

  }

}
