@import 'colors';
@import 'sizes';
@import 'textstyles';
@import 'paddings';
@import 'gradients';


@tab-color: @grey05;
@venue-products-height: 80px;	


#me-screen {

	> .screen-container {

    > #me-content-header {
      
      background-size: 100%;
      background-image: url(./assets/images/user-container.jpg);

      height: 80px;	
      width: 100%;
      display: table;

      color: white;
      padding-left: 1em;

      > #me-content-header-image {

        display: table-cell;
        vertical-align: middle;
        width: 20%;

      }

      > #me-content-header-text {
      
        display: table-cell;
        vertical-align: middle;
        width: 80%;

      }

    }

  }
		

}
