@import 'colors';
@import 'sizes';
@import 'textstyles';

#me_screen {

	> #me-screen-container {

		> #me-screen-content {

			> #me-content-header {
				background-image: -webkit-linear-gradient(220deg, #ecc591, #b87a40);
				width: 100%;
				display: table;
				color: white;
				padding: 1em;

				> #me-content-header-image {

					display: table-cell;
					vertical-align: middle;
					width: 20%;

				}

				> #me-content-header-text {
				
					display: table-cell;
					vertical-align: middle;
					width: 80%;

					> #me-content-header-text-name {
						
					}
					
					> #me-content-header-text-name.is-user-city {
						
					}

					> #me-content-header-text-city {
						
					}

				}

			}

			> #me-tabs {
				position: relative;
				width: 100%;
				height: 3.5em;
				background-color: #CCC;
				border-top: 2px solid @grey02;
				box-shadow: 0px 2px 2px #666;

				> .me-tab {
					float: left;
        	height: 100%;
        	width: 33%;
					text-align: center;

					> .number {
						.text-is-big-style;
						.text-is-font-black-style;
					}
					> .desc {
						.text-style;
						.text-is-font-grey-style;
					}
				}

				> .me-tab.is-selected {
					background-color: #BBB;
				}


			}

			> #me-scroll-wrapper {

                > #me-scroller {

                    > div > .box-title {

                      height: 24px;

                    }

                    > #me-content-unexchangedinvitations {

                        margin-top: 1.2em;


                        > .box-content {

						              > .unexchangedinvitation {

						                  //padding-bottom: 0.5em;

						                  > .unexchangedinvitation-product {

						                      vertical-align: top;
						                      font-weight: bold;
						                      color: @grey_dark;

						                      > .unexchangedinvitation-city {

						                          color: @grey03;

						                          > .icon {
						                          
						                          }

						                          > .icon:before {
						                              /*Adjust font-size*/
						                              font-size: 100%;
						                              /*Clean possible text-shadow in text*/
						                              text-shadow: 0px 0px 0px;
						                              color: @grey03;
						                          }

						                          > .city-name {
						                              
						                          }

						                      }

						                  }

						                  > .unexchangedinvitation-price {
						                      vertical-align: top;
						                      margin-top: 1em;
						                      float: right;
						                      font-weight: bold;
						                      color: @grey_low;
						                      background-color: @blue_bg;
						                      border-radius: 1em;
						                      padding: 0.3em 1em 0.3em 1em;
						                  }

						              }

						}

					}

				}

			}

		}
		
	}

}
