@import 'colors';
@import 'sizes';
@import 'textstyles';
@import 'action_bar';
@import 'paddings';


@tab-color: @grey06;
@venue-products-height: 80px;	


#me_screen {

	> #me-screen-container {

		> #me-screen-content {

			> #me-content-header {
				
				height: @venue-products-height;	

				background-size: 100%;
				background-image: url(./assets/images/user-container.png);
				width: 100%;
				display: table;
				color: white;
				padding-left: 1em;

				//border-top: 1px solid @grey05;
				//border-bottom: 1px solid @grey08;

				> #me-content-header-image {

					display: table-cell;
					vertical-align: middle;
					width: 20%;

				}

				> #me-content-header-text {
				
					display: table-cell;
					vertical-align: middle;
					width: 80%;

					> #me-content-header-text-name {
						
					}
					
					> #me-content-header-text-name.is-user-city {
						
					}

					> #me-content-header-text-city {
						
					}

				}

			}

			> #me-tabs {
				position: relative;
				
				width: 100%;
				height: @action-bar-height - 1;
				
				line-height: 16px;
				
				.action-bar-style (@tab-color);

				> .me-tab {
					float: left;
        			height: 100%;
        			width: 100%/3;
					text-align: center;
					.action-bar-border-tab-style(@tab-color);

					> .number {

						margin-top: 6px;
					
						.text-is-big-style;
						.text-is-font-black-style;

					}

					> .desc {

						.text-style;
						.button-text-style;
						.button-text-is-font-grey-style;
						
					}
				}

				> .me-tab.last {

					-webkit-box-shadow: none;

				}

				> .me-tab.is-selected {
					.action-bar-border-tab-selected-style(@tab-color);
				}

				> .me-tab.last.is-selected {

					.action-bar-border-last-tab-selected-style(@tab-color);

				}


			}
			
			> .tab-main {
			
				> .me-tab-pane.unexchanged {

					> .block-unexchanged {
					
						> .block-unexchanged-title {
						
							display: table;
							position: relative;
							width: 100%;
							.box-padding-with-normal-image;
						
							> .image {
								
								display: table-cell;
								vertical-align: middle;
								width: 10%;
							
							}
							
							> .name {
							
								display: table-cell;
								vertical-align: middle;
								width: 90%;
								padding-left: 5px;
								.text-is-font-grey-style;
								.text-is-font-bold-style;
							
							}
						
						}
						
						> .block-unexchanged-content {
						
							display: table;
							position: relative;
							width: 100%;
							.box-padding-with-normal-image;
						
							> .image {
								
								display: table-cell;
								vertical-align: middle;
								width: 20%;
							
							}
							
							> .product {
							
								display: table-cell;
								vertical-align: middle;
								width: 60%;
								padding-left: 5px;
								padding-right: 5px;
								.text-is-big-style;
								.text-is-font-black-style;
								
								.venue {
								
									.text-is-small-style;
									.text-is-font-grey-style;
									font-weight: normal;
								
								}
							
							}
							
							> .exchange-button {
								
								display: table-cell;
								vertical-align: middle;
								width: 20%;
							
							}
						
						}
					
					}

				}
			
			}

		}
		
	}

}
