@import 'colors';
@import 'sizes';

@edipotrebol-border-subbox-radius-size: 3px;

#qr_screen {

	> #qr-screen-container {

		> #qr-screen-content {

			background-color: #eee; //TODO: Ajustar colores y pasarlos a colors.less de yoin-ember

			> #qr-image {
				padding: 2em;
				border-bottom: 1px solid @grey03;

        > #qr-code-container {

					padding: 1.3em;
        	background-color: #fff;
        	border-radius: @edipotrebol-border-subbox-radius-size;
        	box-shadow: 0 0 5px 1px #AAA; //TODO: Ajustar colores y pasarlos a colors.less de yoin-ember


          > #qr-code {
            width: 200px;
            height: 200px;
          }

        }

			}

			#qr-details {
				color: @grey_dark;
			}

		}

	}

}
