@import 'colors';
@import 'sizes';
@import 'textstyles';
@import 'paddings';

@edipotrebol-border-subbox-radius-size: 3px;
@qr-width: 200px;
@qr-height: 200px;

#qr_screen {

	> #qr-screen-container {

		> #qr-screen-content {

			background-color: #eee; //TODO: Ajustar colores y pasarlos a colors.less de yoin-ember

			> #qr-image {
				padding-top: 1.5em;
				padding-bottom: 1em;
				padding-left: 2em;
				padding-right: 2em;

				> #qr-code-container {
					margin-left: 12px; // TODO : CAMBIAR ESTO - NO CONSEGUIA CENTRARLO
					padding: 0.5em;
					width: @qr-width;
					height: @qr-height;
					background-color: #fff;
					border-radius: @edipotrebol-border-subbox-radius-size;
					box-shadow: 0 0 5px 1px #AAA; //TODO: Ajustar colores y pasarlos a colors.less de yoin-ember

					> #qr-code {
						width: @qr-width;
						height: @qr-height;
					}

				}

			}

			#qr-details {

				display: table;
				position: relative;
				width:100%;

				.text-is-small-style;
				.text-plain-is-font-black-style;
				.box-padding-style;

				> #qr-details-image {

					display: table-cell;
					vertical-align: middle;
					text-align: left;
					width: 15%;

				}
				
				> #qr-details-name {

					display: table-cell;
					vertical-align: middle;
					text-align: left;
					width: 85%;
					.text-is-font-bold-style;
					.text-is-font-black-style;
					.text-is-big-style;

				}
				
			}

		}

	}

}
