@import 'landing';
@import: 'sizes';


#register_screen {

	background-size: 100%;

	.landing-style;
	
	> #register-buttons {
	
		> .enter-button {
			
			margin: @size-one-space auto;
		
		}
		
		> .register-with-social-networks {
		
			margin: @size-one-space auto;
			
			> .social-networks {
			
				margin: @size-one-space auto;
				
				> .facebook {
				
					margin-right: 5px;
				
				}
				
				> .twitter {
				
					margin-left: 5px;
				
				}
			
			}
		
		}
		
		> .login-button {
		
			margin: @size-one-space*2 auto;
		
		}
	
	}

}
