@import 'landing';


#register_screen {

	> .row.one {

    height: 20%;

  }

	> .row.two {

    height: 55%;

    > .space {
      // custom design to format correctly
      height: 33px;
    }

  }

	> .row.three {

    height: 25%;
	
		> .enter-button, > .login-button {

			margin: 0 auto;
		
		}
	
	}

}

#register_screen.is-pending-phone-validation {

	> .row.two {

    > .space {

      height: 110px;

    }

  }

}
