@import 'landing';
@import 'textstyles';


#register_screen {

	> .row.one {

    height: 20%;

  }

	> .row.two {

    height: 55%;

    > .space {
      // custom design to format correctly
      height: 33px;
    }

  }

	> .row.three {

    height: 25%;
	
		> .enter-button, > .login-button {

			margin: 0 auto;
		
		}
	
	}

}

#register_screen.is-pending-phone-validation {

	
   > .row.one {

      height: 38%;

    > .validation-title {

        text-align: center;
        font-weight: bold;
        .header-text-style;
        font-size: 24px;
        margin-bottom: 6px;

      }  
     
     > .validation-text {
        
        padding-left: 22px;
        padding-right: 22px;

        text-align: center;
        .text-is-font-black-style;
        .text-style;
     
      }


   }

  > .row.two {

      height: 14%;


      > .space {

        height: 22px;

      }

     
  }


    > .row.three {

    height: 25%;
  
    > .enter-button, > .login-button {

      margin: 0 auto;
    
    }

  }

}
