@import 'colors';
@import 'sizes';
@import 'textstyles';
@import 'paddings';
@import 'radius';

// 180 -> 50px
@qr-width: 140px;
@qr-height: 140px;

@bar-width: 250px;


#scan-invitation-screen {

	> .screen-container {

		> .invitation-localizer.box {

			background-color: @white00;

			> .box-content {
				padding-top: 5%;
				padding-bottom: 5%;

				> .qr-container, > .bar-container {

					border-radius: @border-box-radius-size;
					padding: 10px;

					background-color: @pure-white;
					box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.3);

        }

				> .qr-container {

          margin: 0 auto;
					width: @qr-width;
					height: @qr-height;

					> .qr-code {
						width: @qr-width;
						height: @qr-height;
					}

				}
        
        // TODO: fluid
				> .bar-container {

					margin-left: 15px; 
					width: @bar-width;

          > .bar-code {

            margin-left: -5px; 

          }

        }

			}

		}

	}

}
