@import 'paddings';
@import 'textstyles';


#settings_screen {

	> .screen-container {

		> #block-basic-info {

			> #block-basic-info-title {

				.text-is-font-bold-style;
				.box-padding-style;

			}

			> #block-basic-info-content {

				.box-padding-with-normal-image;

				> #block-basic-info-data {

					> #block-basic-info-image {

						width: 20%;

					}

					> #block-basic-info-user {

						width: 65%;

						> #block-basic-info-username {

							.text-is-big-style;
							.text-is-font-black-style;

						}

						> #block-basic-info-cityname {

							.text-is-small-style;
							.button-text-is-font-grey-style;

						}

					}

					> #block-basic-info-button {

						width: 15%;

					}

				}

			}			

		}

		> #block-status {

			> #block-status-content {

				.box-padding-style;

				> #block-status-content-table {

					> #status-block {

						> #label {

							.text-is-big-style;
							.text-is-font-black-style;

						}

						> #status {

							.text-is-small-style;
							.button-text-is-font-grey-style;

						}

					}

					> #icon-block {

						.text-is-font-grey-style;

					}

				}

			}

		}

		> #block-channels {

			> #block-channels-title {

				.text-is-font-bold-style;
				.box-padding-style;

			}

			> #block-channels-list {

				> .block-channels-element {

					.box-padding-style;

					> .image {

						width: 15%;

					}

					> .channel {

						.text-is-big-style;
						.text-is-font-black-style;
						width: 65%;
						text-align: left;

					}

					> .control {

						.text-is-font-grey-style;
						float: right;

					}

				}

				> .block-channels-element.no-last {

					border-bottom: 1px solid rgba(255, 255, 255, 0.7);
					-webkit-box-shadow: inset 0 -(@border-line-size) 0 0 @grey09;

				}

				> .block-channels-element.last {

					//No style (clean)

				}

			}


		}

		> #block-logout {

			> #block-logout-label {

				.box-padding-style;
				.text-is-big-style;
				.text-is-font-black-style;

			}

		}

	}

}
