@import 'colors';
@import 'sizes';
@import 'textstyles';
@import 'action_bar';
@import 'paddings';


@tab-color: @grey06;
@venue-products-height: 80px;	

#user_screen {

	> #user-screen-container {

		> #user-screen-content {

			> #user-content-header {

				height: @venue-products-height;	

				background-size: 100%;
				background-image: url(./assets/images/user-container.png);
				width: 100%;
				display: table;
				color: white;
				padding-left: 1em;

				//border-top: 1px solid @grey05;
				//border-bottom: 1px solid @grey08;

				> #user-content-header-image {

					display: table-cell;
					vertical-align: middle;
					width: 20%;

				}

				> #user-content-header-text {
				
					display: table-cell;
					vertical-align: middle;
					width: 80%;

					> #user-content-header-text-name {
						
					}
					
					> #user-content-header-text-name.is-user-city {
						
					}

					> #user-content-header-text-city {
						
					}

				}

			}

			> #user-tabs {
				position: relative;
				width: 100%;
				height: @action-bar-height - 1;
				.action-bar-style(@tab-color);

				> .user-tab {
					float: left;
        	height: 100%;
        	width: 100%/3;
					text-align: center;
					.action-bar-border-tab-style(@tab-color);

					> .number {
						.text-is-big-style;
						.text-is-font-black-style;
					}
					> .desc {
						.text-style;
						.text-is-font-grey-style;
					}
				}

				> .user-tab.last {

					-webkit-box-shadow: none;

				}

				> .user-tab.is-selected {
					.action-bar-border-tab-selected-style(@tab-color);
				}

				> .user-tab.last.is-selected {

					.action-bar-border-last-tab-selected-style(@tab-color);

				}
				
			}
			
			> .tab-main {
			
				> .user-tab-pane {
			
					#user-invite {
						margin: (@size-one-space * 2) auto;
					}
				}
				
			}
			
		}
		
	}
	
}