@import 'colors';
@import 'aligns';
@import 'action_bar';

@tab-color:@brown01;
@categories-color:@grey05;

#venues_screen {

  > .header {


    > #brand-container {

    height: 80%;
    width: 25%;

    background-image: url(assets/images/brand_small.png);
    background-size: 80%;
    background-repeat: no-repeat;
    
    margin-left: 41%;
    margin-top: 5px;

  }

    > .activity-button {

      position: absolute;
      top: 10px;
      right: 28%;

    }

  }


  > .screen-container {

    > #venues-option-tabs {

      position: relative;
      width: 100%;
      height: 44px;
      //z-index: 1;
     
      .action-bar-style (@tab-color);

      > .venues-tab {

        float: left;
        height: 100%;
        width: 33.333333333%;
        text-align: center;

        .action-bar-border-tab-style (@tab-color);


      }

      > .venues-tab:active {

         .action-bar-border-tab-selected-style (@tab-color);

      }

      > .venues-tab.last {

         -webkit-box-shadow:none; 

      }

       > .venues-tab.last:active {

          .action-bar-border-last-tab-selected-style (@tab-color); 

      }


      > .venues-tab:before {

        line-height: 195%;
        color: @white00;
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);

      }

      > .venues-tab.is-selected {


        .action-bar-border-tab-selected-style (@tab-color); 
         
      }

      >.venues-tab.last.is-selected {

        
          .action-bar-border-last-tab-selected-style (@tab-color); 


      }

      > .venues-tab.is-selected:before {

        opacity: 0.9;
        //color: white;
        //text-shadow:0 -0.03em 0 rgba(0,0,0,0.2);

      }

    }


    
 /*   
 > .screen-container {

    > #venues-option-tabs {

          > .venues-tab:active {

            .action-bar-border-tab-style (@tab-color);

          }
    }
  
  }

  */






    > #venues-tab-main {

      > .venues-tab-pane {

          > .venues-tab-content {
            
            > .scroller {

                > .scroller-bottom-spinner {
                  width: 100%;
                  height: 10em;            
                  background-color: blue;
                }

            }

            > .spinner {

                > .spinner-item{
                  .center_align (1.625em, 0.75em, absolute);
                }


            }
         }

      }

      > #vtp-category {


          > #venues-categories {

              position: relative; 
              height: 50px;
              width: 100%;

              .action-bar-with-shadow-style (@categories-color);

              > .category-button {

                float: left;
                height: 100%;
                width: 20%;

                .action-bar-border-tab-style (@categories-color);

              }

              > .category-button:active {

                .action-bar-border-tab-selected-style (@categories-color);

              }


              > .category-button:nth-last-child(3) {

                 -webkit-box-shadow:none; 

              }

              > .category-button:nth-last-child(3):active {

                .action-bar-border-last-tab-selected-style (@categories-color); 
                

              }

              > .category-button:before {

                margin-left: 30%;
                line-height: 54px;
                color: @grey10;
                text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);

              }

              > .category-button.is-selected {
                
                .action-bar-border-tab-selected-style (@categories-color);

              }

              > .category-button.last.is-selected {
                
                .action-bar-border-last-tab-selected-style (@categories-color); 
              
              }

              > .category-button.is-selected:before {

                opacity: 0.9;

              }



          }

      }

    }

  }

}
