@import 'aligns';
@import 'sizes';
@import 'colors';
@import 'animations';
@import 'appanimations';
@import 'action_bar';
@import 'textstyles';
@import 'paddings';
@import 'gradients';
@import 'borders';



@venue-products-height: 128px;
@middle-section-height: 45px;
@middle-indent: 6px;

@venue-map-height: 200px;

#venue_screen.is-map {

	> #venue-map {

	}

	> .venue-screen-container {
		//top: @venue-map-height; does not work on iOS simulator
		-webkit-transform: translate3d(0, @venue-map-height,0);

	}

}

#venue_screen {

	> #venue-map {

		position: absolute;
		width: 100%;
		height: @venue-map-height;

    background-color: gainsboro;

    -webkit-overflow-scrolling: touch;

    > .map{

    }
		
	}

	> .venue-screen-container {

		position: relative;
		top: 0px;
		-webkit-transition: -webkit-transform @modal-duration/2 @ease-animation-style;
		-webkit-transform: translate3d(0,0,0);
    background-color: gainsboro;


		> #venue-products-section {

			position: relative;
			top: 0px;
			height: @venue-products-height;
			width: 100%;
			overflow: hidden;


			//-webkit-box-shadow: 0 1px 0 0px @black00, inset 0 -1px 0 0px @black00;
			-webkit-box-shadow: 0 -3px 13px 0 rgba(0, 0, 0, 0.3);

			border-top: 1px solid @grey05;
			border-bottom: 1px solid @grey08;




			> .venue-products-swipe {

				position: relative;
				height: 100%;
				overflow: visible;



				-webkit-transition: -webkit-transform 200ms ease-in-out;


				> .venue-product {

					position: absolute;
					width: 100%;
					height: 100%;

					-webkit-transform: translateZ(0);

					

				}


				> .venue-product.is-loading {

					background-image: url(assets/images/product_default.png);
						
					

				}


			}

			> .map-button {

				position: relative;
				top: (@map-button-size + @middle-indent*2)*-1;
				float: right;
				right: @middle-indent;

			}


			> .carousel-circles {

				position: relative;
				top: -1em;
				left: 1em;

				> .carousel-circle {

				}

			}

		}


		> #venue-middle-section {

			height: @middle-section-height;
			width: 100%;


			.action-bar-style (@grey06);

			
			> #venue-likes {

				line-height: @middle-section-height - 10;
				height: 100%;
				width: 33%;

				float: left;
				//text-indent: @middle-indent;
				text-align: center;
				

				.button-text-is-font-grey-style;


			}


			> #venue-likes:active {

				.action-bar-border-tab-selected-no-border-style (@grey06);
				
			}


			> #venue-likes.is-voted {

				

				> .icon {

					color: @pink01;

				}




			}


			> #venue-comments {

				line-height: @middle-section-height - 10;
				height: 100%;
				width: 33%;

				float: right;
				//padding-right: @middle-indent;
				text-align: center;
				

				.button-text-is-font-grey-style;

			}

			

			> #venue-comments:active {

				.action-bar-border-tab-selected-no-border-style (@grey06);
				


			}


			> .invite-button {

				position: absolute;
				left: 50%;
				margin-left: @invite-button-width*(-0.5);
				//margin-top: (@middle-section-height - @invite-button-height)/2;
				margin-top: -6px;
        z-index: 10;

			}

		}

		> #venue-info-section.scroller {

        .app-background;


				> #venue-people {

					> .box-content {
						
						> .vp-list-element {

							padding-right: 0px;

						}

					}

				}

				> #venue-product-description {

					> #vpd-title {

						.text-is-font-bold-style;
						.box-padding-style;

					}

					> #vpd-info {

						.text-is-font-grey-style;
						.box-padding-style;

					}

				}

				> #venue-products {

					> #vpr-title {

						.text-is-font-bold-style;
						.box-padding-style;

					}

					> #vpr-list {

						> .vpr-element {

							.box-padding-style;
							.list-element-fill-border;

							> .vpr-name {

								.text-is-big-style;
								.text-is-font-black-style;

							}

						}

						> .vpr-element:nth-last-child(3) {

							.list-element-clear-border;

						}

						> .vpr-element:active {

							.box-press;

						}

						> .vpr-element:nth-last-child(3):active {

							.border-bottom-box-radius-style;	

						}

					}
				}


		}

	}

}
