@import 'colors';
@import 'aligns';
@import 'action_bar';

@tab-color:@brown01;
@categories-color:@grey05;

#venues_screen {

  > .header {

    > #brand-container {

      height: 80%;
      width: 25%;

      background-image: url(assets/images/brand_small.png);
      background-size: 75%;
      background-repeat: no-repeat;
      
      margin-left: 41%;
      margin-top: 7px;

    }

  }

  > .screen-container {

    > .venues-tab-content {

      > .scroller {

          > .scroller-bottom-spinner {
            width: 100%;
            height: 10em;            
            background-color: blue;
          }

      }

      > .spinner {

          > .spinner-item{
            .center_align (1.625em, 0.75em, absolute);
          }

      }
    }

  }

}
