@import 'aligns';
@import 'sizes';
@import 'colors';
@import 'animations';
@import 'appanimations';
@import 'action_bar';
@import 'textstyles';



@venue-products-height: 130px;
@middle-section-height: 45px;
@middle-indent: 6px;

@venue-map-height: 200px;

#venue_screen.is-map {

	> #venue-map {

	}

	> .screen-container {
		//top: @venue-map-height; does not work on iOS simulator
		-webkit-transform: translate3d(0, @venue-map-height,0);

	}

}

#venue_screen {

	> #venue-map {

		position: absolute;
		width: 100%;
		height: @venue-map-height;
		background-color: red;
	}

	> .screen-container {

		position: relative;
		top: 0px;
		-webkit-transition: -webkit-transform @modal-duration/2 @ease-animation-style;
		-webkit-transform: translate3d(0,0,0);

		> .venue-products {

			position: relative;
			top: 0px;
			height: @venue-products-height;
			width: 100%;
			background-color: red;
			overflow: hidden;

			> .venue-products-swipe {

				position: relative;
				height: 100%;
				overflow: visible;

				-webkit-transition: -webkit-transform 200ms ease-in-out;


				> .venue-product {

					position: absolute;
					width: 100%;
					height: 100%;

					-webkit-transform: translateZ(0);

					background-color: blue;

				}


				> .venue-product.is-loading {

					background-color: green;

				}


			}

			> .map-button {

				position: relative;
				top: (@map-button-size + @middle-indent*2)*-1;
				float: right;
				right: @middle-indent;

			}


			> .carousel-circles {

				position: relative;
				top: -1em;
				left: 1em;

				> .carousel-circle {

				}

			}

		}


		> #venue-middle-section {

			height: @middle-section-height;
			width: 100%;


			.action-bar-style (@grey06);

			
			> #venue-likes {

				line-height: @middle-section-height;
				height: 100%;
				width: 40%;

				float: left;
				text-indent: @middle-indent;

				

				> .icon {

					position: relative;
					top: 2px;

				}

			}

			> #venue-likes.is-voted {

				color: red;

				> .icon {

					color: red;

				}

			}


			> #venue-comments {

				line-height: @middle-section-height;
				height: 100%;
				width: 40%;

				float: right;
				padding-right: @middle-indent;
				text-align: right;


				> .icon {

					position: relative;
					top: 2px;

				}

			}


			> .invite-button {

				position: absolute;
				left: 50%;
				margin-left: @invite-button-width*(-0.5);
				//margin-top: (@middle-section-height - @invite-button-height)/2;
				margin-top: -6px;

			}

		}


		> #venue-people {

			> #vp-title {

				.text-is-font-bold-style;
				padding-left: @box-title-padding-horizontal;
				padding-right: @box-title-padding-horizontal;
				padding-top: @box-title-padding-vertical;
				padding-bottom: @box-title-padding-vertical;

			}

			> #vp-list {

				padding-left: @box-title-padding-horizontal;
				padding-right: @box-title-padding-horizontal;
				padding-top: @box-title-padding-horizontal;
				padding-bottom: @box-title-padding-horizontal / 2;

				> .vp-list-element {

					padding-right: 0px;

				}

			}

		}

		> #venue-product-description {

			> #vpd-title {

				.text-is-font-bold-style;
				padding-left: @box-title-padding-horizontal;
				padding-right: @box-title-padding-horizontal;
				padding-top: @box-title-padding-vertical;
				padding-bottom: @box-title-padding-vertical;

			}

			> #vpd-info {

				padding-left: @box-content-padding-horizontal;
				padding-right: @box-content-padding-horizontal;
				padding-top: @box-content-padding-vertical;
				padding-bottom: @box-content-padding-vertical;

			}

		}

		> #venue-products {

			> #vpr-title {

				.text-is-font-bold-style;
				padding-left: @box-title-padding-horizontal;
				padding-right: @box-title-padding-horizontal;
				padding-top: @box-title-padding-vertical;
				padding-bottom: @box-title-padding-vertical;

			}

			> #vpr-list {

				> #vpr-element {

					padding-left: @box-content-padding-horizontal;
					padding-right: @box-content-padding-horizontal;
					padding-top: @box-content-padding-vertical;
					padding-bottom: @box-content-padding-vertical;

				}

				> #vpr-element.no-last {

					border-bottom: 1px solid rgba(255, 255, 255, 0.7);
					-webkit-box-shadow: inset 0 -(@border-line-size) 0 0 @grey09;

				}

				> #vpr-element.last {

					//No style (clean)

				}

			}

		}

	}

}
