{{#with view}}

{{#view Yn.HeaderView id="legal-header"}}
  {{view Yn.BackButtonView }}
  <div class="header-title">
    {{#if isPrivacy }}
      {{I18n privacy_policy}}
    {{else}}
      {{I18n terms_and_conditions}}
    {{/if}}
  </div>
{{/view }}

{{#view Yn.ScrollerView class="screen-container" 
  exclude="legal-header footer" }}
  
  <div class="space by-one"></div>
  <div class="box">
  <div class="box-content">

    {{#if isPrivacy }}

        <div class="legal-date">
          Updated 15 Jan 2013
        </div>
        <h2>1. General</h2>
        <div class="legal-content">This Privacy Policy is intended to inform you of Yoin’s policies and practices regarding the collection, use and disclosure of any information about you that directly or indirectly may be referable to you, such as your name, email address, Yoin user ID number and also transactional information and other information (”Personal Data”) that you submit or disclose to Yoin when accessing the Yoin Platform and/or using the Yoin Services (irrespective of whether it is public or non-public information).</div>
        <h2>2. Definitions</h2>
        <div class="legal-content">In this Privacy Policy the terms (identified with initial capitalization) used herein shall have the meanings specified in the Terms of Service (available at http://www.yoinup.com). Additional definitions are also provided in this Privacy Policy. In this Privacy Policy, “Yoin” means Yoin Ltd., a UK company with corporate identification number and with its registered address at 10 Barley Meadows, Inkberrow, Worcester, United Kingdom</div>
        <h2>3. User Consent</h2>
        <div class="legal-content">By registering a Yoin Account and accessing the Yoin Platform from your Device, you consent to the collection and use of your Personal Data as we have outlined in this Privacy Policy, which is incorporated into and forms part of our Terms of Service. You unconditionally consent to Yoin’s collection and processing of your Personal Data as specified in this Privacy Policy (and as amended from time to time) by allowing the Yoin Platform to access your Facebook or other Social Network account.</div>
        <h2>4. Controller of Personal Data</h2>
        <div class="legal-content">For purposes of the European Union Data Protection Directive, Yoin is the data controller of the Personal Data expressly requested by Yoin and such Personal Data may be transferred to, processed and stored by Yoin’s affiliates and group companies as well as third parties providing services to Yoin. <br/>Yoin is committed to protecting your Personal Data at all times and the Personal Data will not be used or disclosed for purposes for which you have not given consent to pursuant to this Privacy Policy or which is not permitted under applicable laws.</div>
        <h2>5. Age Restrictions</h2>
        <div class="legal-content">Children under the age of 13 are not permitted to use Yoin Services, and we do not intentionally collect or maintain Personal Data from persons who are under the age of 13. By using Yoin Services, you represent that you are at least 18 years of age, or that you are between 13 and 17 years of age and have a parent’s or guardian’s permission to use Yoin Services. If we obtain actual knowledge that we have collected Personal Data from a person under the age of 13 or a person between 13 and 17 years of age who does not have a parent’s or a guardian’s consent to use Yoin Services, we will take steps to remove that person’s Personal Data permanently from our databases.</div>
        <h2>6. Collection of Personal Data</h2>
          <h3>Personal Data That You Provide</h3>
          <div class="legal-content">It is our ambition to make your use of the Yoin Platform and Yoin Services a good experience. Yoin collects information that you voluntarily enter, including Personal Data, within the Yoin Platform. Yoin collects Personal Data about you and your friends who use Yoin Services, from you and from the Social Network connected to the Yoin Platform (including your profile photo), in order to provide you with a more personalized experience. We may collect information from your Social Network profile that you have permitted to be displayed through the Yoiin Platform and we may also collect information that you submit when using Yoin Services. For example, when you send a Gift to your friends, we collect and associate certain of your non-personally identifiable demographic information (like age, gender, your concrete location and the receptor concrete location) with the specific merchant (“Merchant”) for the Gift in order to create a better and smarter gifting experience. We may also request optional information from you to support and enhance your use of Yoin Services.
            <br/> 
            <ul class="legal-list">
              <li class="legal-item">Identification data (e.g. name, email address);</li>
              <li class="legal-item">Profile information (e.g. age, gender, nationality);</li>
              <li class="legal-item">Location information (e.g. concrete friends or people nearby location)</li>
              <li class="legal-item">Electronic identification data (e.g. IP address, cookies);</li>
              <li class="legal-item">Content that you submit during your use of Yoin Services, such as photos, reviews,
              greetings and other information you choose to submit.</li>
            </ul>
            When you purchase a Paid Gifts, you will need to submit credit card or other payment information (Paypal) so that our service providers can process your payment for the gift card. All payments are processed with due observance of any applicable security obligations. When you sign up for or win any contests, sweepstakes or other activities that we make available on the Yoin Platform, we will also collect the information designated along with such activity, which may include your contact information such as your address and phone number in order to provide you with Yoin Services.
          </div>
          <h3>Location information</h3>
          <div class="legal-content">Our Service is also about sharing location and finding friends and others nearby, so we will use your location information to provide the basic functionality of the Service, such as displaying your location on the Services map to other users when you check-in using Third Party Services (social networks) or your specifically “on” in the application. Users viewing this information may use it or disclose it to other individuals or entities outside of our control and without your knowledge. Your location information may be subject to abuse, misuse, and monitoring by others, and you share your location at your own risk.</div>
          <h3>Personal Data from Other Sources</h3>
          <div class="legal-content">We may receive Personal Data about you from other sources such as the Social Network connected to the Yoin Platform, as well as Merchants and other third parties that help us improve your experience of Yoin Services and generally make Yoin Services better. Yoin may associate this information with the other Personal Data that Yoin has collected about you.</div>
          <h3>Email and Email Addresses</h3>
          <div class="legal-content">If you send an email to us or fill out our “Feedback” form through the Yoin Platform, we will collect your email address and the full content of your email, including attached files and other information you provide in order to document and to further develop Yoin Services based on user feedback. If you provide feedback to us, we may use and disclose such feedback to our Merchants to improve or modify Yoin Services.
            <br/>
            Yoin may use and display your full name and email address when you send an email notification to a friend through the Yoin Platform or the Social Network connected to Yoin Services (such as in an invitation or when sharing your content). Additionally, we may use your email address to contact you on behalf of your friends (such as when someone sends you a personal message) or notifications from a Social Network or other website with which you have registered to receive such notifications.
            <br/>
            If you choose to sign up to receive information about products or services that may be of interest to you, Yoin may collect your email address and other related information also for that purpose. Yoin may use this email address to contact you for things such as notifications of limited-edition shop sales/promotions and other related advertisement information. You may at any time opt-out from any further advertisements to your email address by sending a notice to Yoin at support@yoinup.com.
          </div>
          <h3>Information Collected via Technology</h3>
          <div class="legal-content">
            As you use Yoin Services, certain information may also be passively collected and stored on our or our service providers’ server logs, including your IP address, browser type and operating system. We may also use cookies (as defined below) and navigational data like Uniform Resource Locators (”URLs”) to gather information regarding the date and time of your visit and the solutions and information for which you searched and viewed, or on which of the advertisements displayed on the Yoin Platform you clicked. This type of information is collected to make Yoin Services more useful to you and to tailor the experience with Yoin Services to meet your special interests and needs.
            <br/>
            For example, we, or our service providers, may track your IP Address when you access the Yoin Platform to assist with ad targeting. An “Internet protocol address” or “IP Address” is a number that is automatically assigned to your Device when you use the Internet. In some cases your IP Address stays the same from browser session to browser session, but if you use a consumer Internet access provider, your IP Address probably varies from session to session.
          </div>
          <h3>Cookies</h3>
          <div class="legal-content">
            “Cookies” are small pieces of information that Yoin sends to and stores on the Device that you use when accessing the Yoin Platform.
            <br/>
            Yoin uses cookies to provide you with a more personal and interactive experience with the Yoin Platform and to improve Yoin Services. Cookies help us evaluate what types of information that might be of interest to you and other users, to improve our and our Merchants’ advertisements and to protect you and Yoin from unlawful activities. We also use cookies to know when you are interacting with Merchants or other third parties.
            <br/>
            In order to use Yoin Services, your Device must accept cookies. We may use both session cookies (which expire once you close your web browser) and persistent cookies (which stay on your computer until you delete them). Persistent cookies can be removed or blocked by following your Internet browser´s help file directions. But some aspects of the Yoin Platform may not work properly and you may not be able to use Yoin Services if our cookies are removed or blocked.
          </div>
        <h2>7. Use and Disclosure of Personal Data</h2>
          <div class="legal-content">
            Personal Data that you submit to us is used by Yoin to provide you with access to the Yoin Platform and Yoin Services; to administer your Yoin Account; to improve Yoin Services; to better tailor the features, performance and support of the Yoin Platform; and to offer you additional information, opportunities, promotions and functionality from us (including in cases when we contact you in connection with specific Merchant opportunities and promotions).
            <br/>
            Yoin may provide your Personal Data to third-party service providers who work on behalf of or with us to provide some of the services and features of the Yoin Platform and to help us communicate with you. Examples of such services include sending email, analyzing data, providing marketing assistance, processing payments (including credit card payments) and providing customer service. Such third-party service providers may only process Personal Data to provide the relevant services to Yoin and in accordance with Yoin’s instructions.
            <br/>
            The Personal Data that you provide will allow Yoin to inform you of Yoin Services, such as available gifts as well as other services and products that may be of interest to you. Yoin may use your Personal Data for processing, managing and providing you with retail offers, advertisements and other information related to your profile and interests. By using Yoin Services you agree that Yoin may contact you to conduct targeted advertising based on the information provided by you and collected by Yoin. This type of targeting is performed to make Yoin Services and solutions more useful to you and to tailor the experience with the Yoin Platform to meet your special interests and needs. Sometimes this type of targeting and other offers, advertisements and promotions is performed by Yoin on behalf of Merchants. Yoin does not disclose your Personal Data to Merchants, but may make certain of your non-personally identifiable demographic information (like age, gender and general location) available in connection with our agreements with Merchants. None of the information provided to Merchants would allow them to identify you or your Personal Data.
            <br/>
            We may promote third-party products and/or services by placing advertisements on the Yoin Platform on behalf of Merchants and ad servers. These Merchants may use cookies and/ or “Web Beacons” (which are usually small, transparent graphic images) in order to monitor information related to served advertisements. Clicking on such advertisements will direct you to the website of such Merchants. This Privacy Policy does not cover the privacy practices of any such Merchants, as further described in Section 7 (Third-Party Websites) in the Terms of Service.
            <br/>
            Your Personal Data may also form part of Yoin’s statistics but then we will exclude, for instance, your name. Yoin will generally aggregate this information and use it in statistical analysis to help us analyze patterns in the use of Yoin Services and to help Merchants indirectly (via Yoin) target users with the desired demographics. In addition to the above, Yoin may disclose your Personal Data if we believe in good faith that such disclosure is necessary to (a) comply with relevant laws or to respond to subpoenas or warrants served on Yoin or pursuant to any other legal claims or (b) to protect and defend Yoin’s rights, property or interests or (c) to protect your rights or any third-party rights or (d) fight against fraud or (e) to enforce our policies (including this Privacy Policy and our Terms of Service).
          </div>
        <h2>8. Ability to View Your Information</h2>
          <div class="legal-content">
            When you register a Yoin Account, your Social Network friends will be notified of your use of Yoin Services. Your Social Network friends with Yoin accounts will then be able to give you electronic gifts provided by various Merchants.
            <br/>
            It is up to you to make sure that you are comfortable with the information that you choose to provide to Yoin and the information you choose to publish either directly on the Yoin Platform or through your Social Network, which is connected to the Yoin Platform.
            <br/>
            You acknowledge that when you use Yoin Services, certain information that you post or provide through the Yoin Platform (such as your name, profile, comments, collections and reviews,) may be shared with other users and posted on publicly available portions of the Yoin Platform, including, without limitation, social media applications and other public fora (plural for forums ☺) in which you choose to participate. Please keep in mind that if you choose to disclose Personal Data when posting comments or other information or content through the Yoin Platform, this information may become publicly available and may be collected and used by others, including people outside the Yoin Platform. We will not have any obligations with respect to any information that you post via the Yoin Platform and make available to others, and recommend that you use caution when giving out Personal Data to others through Social Networks.
          </div>
        <h2>9. Security of Collected Information</h2>
          <div class="legal-content">
            Wrapp is committed to protecting the security of your Personal Data. We will take appropriate technical and organisational measures with due observance of the applicable obligations under relevant legislation to protect provided or otherwise collected Personal Data and traffic data. We use a variety of industry-standard security technologies and procedures to help protect your Personal Data from unauthorized or unlawful access, use or disclosure and accidental loss, destruction and damage. Even though Wrapp has taken significant steps to protect your Personal Data, no company, including ours, can fully eliminate security risks associated with Personal Data.
          </div>
        <h2>10. Access to, Rectifying and Deleting Your Personal Data</h2>
          <div class="legal-content">
            You are entitled, once a year, to request information from Yoin about the Personal Data relating to you which is being processed by Yoin and to request, where relevant, that such Personal Data is rectified by sending a notice to Yoin at the following address: Yoin ltd.
            <br/>
            Yoin will make all reasonable efforts to accommodate a request to delete Personal Data, unless such data is required to be retained pursuant to applicable laws, or for lawful business purposes, or to protect and defend Yoin’s rights, property or interests, or to fight against fraud, or to enforce our policies (including this Privacy Policy and our Terms of Service). You may also, at any time, ask us to discontinue processing your Personal Data for direct marketing purposes by notifying us at the address above that you would like us to stop sending you promotional communication.
          </div>

      {{/if}}

  </div>
  </div>

  <div class="space by-one"></div>

{{/view }}

{{/with}}
