{{#view Yn.HeaderView }}

  <div class="header-title">{{I18n map_title}}</div>
  {{view Yn.HeaderButtonView class="l-right" }}

{{/view }}

<div class="header-action">
    {{view Yvi.MapInputView }}
</div>

{{view Em.ContainerView id="map-screen-container" class="screen-container is-header-action"}}
