{{#with view}}

  <div class="header">
    <div class="brand-container"></div>
  </div>

  <div class="menu-container">
    {{view Yvi.MenuOptionView icon="c" textI18n="menu_home" 
      action="goToHome"}}
    {{view Yvi.MenuOptionView icon="a" textI18n="menu_invitations"
      action="goToInvitations"}}
    {{view Yvi.MenuOptionView icon="e" textI18n="menu_profile"
      action="goToProfile"}}
    {{view Yvi.MenuOptionView icon="d" textI18n="menu_about"
      action="goToAbout"}}
  </div>

{{/with}}
