{{#with view}}

  <div class="menu-container">
   {{view Yvi.MenuOptionView icon="J" textI18n="menu_home" 
      counterBinding="homeCounter"
      action="goToVenues"}}

    {{view Yvi.MenuOptionView icon="b" textI18n="menu_invitations"
      counterBinding="invitationsCounter"
      action="goToWallet"}}

    {{view Yvi.MenuOptionView icon="p" textI18n="menu_profile"
      action="goToSettings"}}
  </div>

{{/with}}
