{{#with view}}

  <div class="menu-container">

   {{view Yvi.MenuOptionView icon="J" textI18n="menu_home" 
      action="goToVenues"}}
    {{view Yvi.MenuOptionView icon="b" textI18n="menu_invitations"
      action="goToWallet"}}
    {{view Yvi.MenuOptionView icon="p" textI18n="menu_profile"
      action="goToMe"}}
  </div>

{{/with}}
    
