{{#with view}}

<!-- id = touch-test -->

  {{#view Yvi.TouchHoldView id="hold" }}

  {{view Yn.PopupView content="This is a message based on the estimations related with Yoin. Do you agree?" }}

    <div id="hold-scroller">
      <div id="hold-scroller-container">

        <div/><div/><div/><div/><div/><div/><div/><div/>
        <div/><div/><div/><div/><div/><div/><div/><div/>

        </div>
    </div>

    {{#view Yn.TearCounterView }}
    	3
    {{/view}}

  {{/view }}

{{/with}}