@import 'appsizes';
@import 'colors';

#app {
	width: @app-width;
	height: @app-height;
	
}

.screen {
	width: @app-width;
	background-color: @bck_00;
	background-image: url(assets2/images/BG.png), -webkit-linear-gradient(0, transparent 40%, rgba(255,255,255,0.3) 40%);
	background-size: 9%;
}


body {
	overflow: hidden;
	font-size: @body-font-size;
}
