@import 'appsizes';
@import 'colors';
@import 'sizes';

#app {
	width: @app-width;
	height: @app-height;
	
}

.screen {
	width: @app-width;
}


body {
	overflow: hidden;
	font-size: @body-font-size;
}
