@import 'sizes';
@import 'appsizes';
@import 'animations';
@import 'appanimations';

.aside.front {

  position: absolute;
  left: 0%;
  -webkit-transition: left @modal-duration @ease-animation-style;
}

.aside.back {

  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
  background-color: red;
  z-index: 1;

}

.screen.is-aside-back {

  > .aside.front {
    left: -50%;
    -webkit-transition: left @modal-duration @ease-animation-style;
  }

}
