@import 'landing';
@import 'sizes';
@import 'textstyles';

.landing-screen {

	background-size: 100%;
	.landing-style;

}

.brand-landing-container {


  margin: 0 auto;
  left: 50%;

  height: 46px;
  width: 96px;

  background-image: url(assets/images/brand_small.png);
  background-size: 100%;
  background-repeat: no-repeat;

}

.landing-title {

  text-align: center;
  font-weight: bold;
  .header-text-style;
  font-size: 24px;
  margin-bottom: 6px;

}  

.landing-text {

  padding-left: 22px;
  padding-right: 22px;

  text-align: center;
  .text-is-font-black-style;
  .text-style;

}
