@import 'colors';
@import 'sizes';
@import 'buttons';



.map {

  position: relative;
  width: 100%;
  height: 100%;

}


// Look at map.js parent properties
@bubble-border: 5px;

@button-color:@black00;

.map-bubble {

  padding-left: 5px;
  padding-right: 5px;

	
  background-color: @button-color;
  background: -moz-linear-gradient(top, rgba(255,255,255,0.45) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.45)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0))); 
	
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.6);

	border-top-left-radius: @bubble-border;
	border-top-right-radius: @bubble-border;
  


  > .title, > .subtitle{

    width: 100%;

    text-align: center;
    color:@pure-white;
    text-shadow: 0 -1px 0px rgba(0,0,0,0.9);

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    

  }


}


@bubble-height: 30px;

.map-bubble {


	height: @bubble-height;


  > .title {

    height: @bubble-height;
    line-height: @bubble-height;

  }


}


@bubble-subtitle-height: 50px;


.map-bubble.is-subtitle {

	height: @bubble-subtitle-height;


  > .title , > .subtitle{

    height: @bubble-subtitle-height/2;
    line-height: @bubble-subtitle-height/2;

  }

  > .title {

  }

  > .subtitle {


  }

}
