{{#with view}}

{{view Yvi.FooterOptionView id="left-tab" class="is-icon-big" tab="venues" icon="q" currentTabViewBinding=currentTabView }}


{{view Yvi.FooterOptionView id="right-tab" class="is-icon-big" tab="me" icon="p" currentTabViewBinding=currentTabView }}

<div id="footer-middle">

	{{view Yvi.FooterOptionView id="inner-footer-middle" class="is-icon-x-big" tab="qr" icon="E" currentTabViewBinding=currentTabView }}

</div>

{{/with}}