@import 'colors';

#user-short-block {

	> #user-short-block-content {
	
		display: table;
		padding: 0.2em;
		width: 100%;

		> #user-short-block-content-image {

			display: table-cell;
			vertical-align: middle;
			width: 15%;

		}

		> #user-short-block-content-name {

			display: table-cell;
			vertical-align: middle;
			color: @grey_dark;
			width: 85%;

			> #user-short-block-content-city {

					color: @grey03;

					> #city-name {
						
					}

			}

		}

	}

}