@import 'colors';
@import 'sizes';
@import 'spaces';

.user-interaction-received-block {

	> .user-interaction-received-block-content {

		> .user-interaction-received-block-content-name {

			vertical-align: top;
			font-weight: bold;
			color: @grey_dark;

			> .user-interaction-received-block-content-product {

					color: @grey03;

					> .product-name {
						font-weight: normal;
					}

			}

		}

		> .small-space {
			.space-small;
		}

	}

}
