@import 'colors';
@import 'sizes';
@import 'textstyles';

#user-interaction-commented-block {

	> #user-interaction-commented-block-content {

		display: table;
		width: 100%;
		
		> #user-interaction-commented-block-content-image {
		
			display: table-cell;
			vertical-align: middle;
			width: 15%;
		
		}

		> #user-interaction-commented-block-content-name {

			display: table-cell;
			vertical-align: middle;
			width: 70%;

			> #user-interaction-commented-block-content-product {

			}

		}
		
		> #user-interaction-commented-block-icon {
		
			display: table-cell;
			vertical-align: middle;
			width: 15%;
			text-align: right;
		
		}

	}
	
	> #user-block-comment {
	
		.text-is-font-grey-style;
		padding-left: @box-content-padding-horizontal;
		padding-right: @box-content-padding-horizontal;
		padding-top: @box-content-padding-vertical;
		padding-bottom: @box-content-padding-vertical;
	
	}

}



















